.contenedor{
    display: flex;
    justify-content: center;
    /* border: solid blue; */
    padding: 5% 10%;
}

@media (max-width: 820px) {
    .contenedor {
      padding-left: 0;
      padding-right: 0;
      background-color: black;
    }
  }
